:root {
    --color-principal: #2c3e50 ; 
    --color-acento: #E67E22;   
    --color-fondo: #F4F6F8;    
    --color-blanco: #FFFFFF;    
    --color-error: #e74c3c;     
    --color-exito: #27ae60;    
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-principal);
    line-height: 1.6;
}

.contenedor { 
    text-align: center;    
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 1rem;
 }

.encabezado {
    background: var(--color-principal);
    color: white;
    padding: 1rem;
}

.encabezado .contenedor { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo {
    max-height: 100px; 
    margin-left: -155px;
    width: auto;      
    display: block;  
    object-fit: contain;
}

.menu ul { 
    list-style: none; 
    display: flex; 
    gap: 1.5rem; }

.menu a { color: white; 
    text-decoration: none; 
    font-weight: 500; }

.menu a.activo { 
    color: var(--color-acento); 
}


.pie-pagina {
    background: var(--color-principal);
    color: white;
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
}


.seccion-destacada {
    background: var(--color-principal);
    color: white;
    padding: 2rem;
    text-align: center;
}


.titulo-centrado { 
    text-align: center; 
    margin-bottom: 2rem; 
    font-size: 2rem; }

.grilla-productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem 0;

}
.tarjeta {
    background: var(--color-blanco);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0,05);
    overflow: hidden;
    transition: transform 0.3s;
}
.tarjeta:hover {transform: translateY(-5px);}
.tarjeta img {width: 100%; height: 200px; object-fit: contain; background: #eee;}
.info-tarjeta {padding: 1.5rem;}
.categoria {font-size: 0.8rem; color: var(--color-acento); text-transform: uppercase;}
.precio { font-size: 1.2rem; font-weight: bold; margin-top: 0.5rem;}

@media (max-width: 768px){
    .encabezado .contenedor { flex-direction: column; gap: 1rem; }
    .grilla-productos {grid-template-columns: 1fr;}
}

/* Alineación del header (Logo a la izquierda, Menú al centro, Carro a la derecha) */
.header-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/* Estilo del enlace del carro */
.carrito-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #ee6707; /* Color oscuro del texto */
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.2s ease;
}


.icono-carrito {
    width: 24px;
    height: 24px;
    stroke: #ee6707;
    transition: stroke 0.2s ease;
}


.menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}